*{
    box-sizing: border-box;
    /* overflow: hidden; */
}
.header{
    width:1024px ;
    height:65px ;
    background-color: bisque;
}
.container{
    width:1024px ;
    height:calc(768px - 65px) ;
    background-color: rgb(243, 141, 16);
    display: flex;

    .menu{
        width:215px ;
        height:100%;
        background-color: rgb(228, 163, 212);
        /* display: flex;
        flex-direction:column; */

        .menu_top{
        width:215px ;
        height:calc(100% - 25px);
        background-color: rgb(175, 163, 228);
        }
        
        .menu_bottom{
        width:215px ;
        height: 25px;
        background-color: rgb(74, 26, 151);
        }
    }
    .main{
    width:calc(1024px - 215px);
    height:100%;
    background-color: rgb(221, 13, 134);
    /* display: flex;
    flex-direction:column; */

        .main_top{
        width: 100%;
        height:29px;
        background-color: rgb(75, 4, 45);
        }
    }
}
.footer{
    width:1024px ;
    height: 20px;
    background-color: rgb(99, 58, 8);
}